<div [ngClass]="theme">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <mat-card>
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
  </mat-card>

  <br>

  <mat-card>
    <mat-select 
      placeholder="Select a Theme" 
      [(ngModel)]="theme"
      (change)="onThemeChange()">

      <mat-option value="my-theme">My Theme</mat-option>
      <mat-option value="my-second-theme">My Second Theme</mat-option>
    </mat-select>
  </mat-card>

  <br>

  <mat-card>
    <amte-parent></amte-parent>
  </mat-card>

</div>