$my-theme-primary: mat-palette($mat-cyan);
$my-theme-accent:  mat-palette($mat-teal, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-theme-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$my-theme: mat-dark-theme(
  $my-theme-primary, 
  $my-theme-accent, 
  $my-theme-warn
);
